USE [master]
GO
/****** Object:  Database [VideoRental]    Script Date: 9/25/2020 3:07:34 PM ******/
CREATE DATABASE [VideoRental]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoRental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\VideoRental.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VideoRental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\VideoRental_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoRental]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/25/2020 3:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustID] [int] IDENTITY(101,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[Phone] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 9/25/2020 3:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1001,1) NOT NULL,
	[Title] [varchar](500) NULL,
	[Year] [varchar](25) NULL,
	[RentCost] [int] NULL,
	[Genre] [varchar](50) NULL,
	[Rating] [int] NULL,
 CONSTRAINT [PK__Movies__4BD2943AF0411E1B] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RentedMovies]    Script Date: 9/25/2020 3:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RentedMovies](
	[RentId] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NULL,
	[CustID] [int] NULL,
	[RentDate] [varchar](100) NULL,
	[ReturnDate] [varchar](100) NULL,
	[RentAmount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustID], [Name], [Address], [Phone]) VALUES (101, N'Sukhpal Singh', N'Hamilton', 4435435434)
INSERT [dbo].[Customer] ([CustID], [Name], [Address], [Phone]) VALUES (102, N'Sukhman', N'Hamilton', 45646464)
INSERT [dbo].[Customer] ([CustID], [Name], [Address], [Phone]) VALUES (103, N'Shivam', N'hamilypojk', 968968786)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieID], [Title], [Year], [RentCost], [Genre], [Rating]) VALUES (1001, N'Jatt Boyz', N'2019', 5, N'Action', 10)
INSERT [dbo].[Movies] ([MovieID], [Title], [Year], [RentCost], [Genre], [Rating]) VALUES (1002, N'Kai Po Che', N'2015', 5, N'Adventure', 9)
INSERT [dbo].[Movies] ([MovieID], [Title], [Year], [RentCost], [Genre], [Rating]) VALUES (1003, N'GADAAR', N'2005', 2, N'rOMANTIC', 1)
SET IDENTITY_INSERT [dbo].[Movies] OFF
SET IDENTITY_INSERT [dbo].[RentedMovies] ON 

INSERT [dbo].[RentedMovies] ([RentId], [MovieID], [CustID], [RentDate], [ReturnDate], [RentAmount]) VALUES (1, 1001, 101, N'9/25/2020', N'9/25/2020', 5)
INSERT [dbo].[RentedMovies] ([RentId], [MovieID], [CustID], [RentDate], [ReturnDate], [RentAmount]) VALUES (2, 1001, 102, N'9/25/2020', N'9/25/2020', 5)
SET IDENTITY_INSERT [dbo].[RentedMovies] OFF
/****** Object:  Index [UQ__Customer__5C7E359E010DD228]    Script Date: 9/25/2020 3:07:35 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RentedMovies]  WITH CHECK ADD FOREIGN KEY([CustID])
REFERENCES [dbo].[Customer] ([CustID])
GO
ALTER TABLE [dbo].[RentedMovies]  WITH CHECK ADD  CONSTRAINT [FK__RentedMov__Movie__3E52440B] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[RentedMovies] CHECK CONSTRAINT [FK__RentedMov__Movie__3E52440B]
GO
/****** Object:  StoredProcedure [dbo].[AllRentedMovies]    Script Date: 9/25/2020 3:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[AllRentedMovies]
  as
  select RentId, name as CustomerName, Address, Title as MovieTitle,
  RentCost,RentDate,ReturnDate,RentAmount from RentedMovies rm 
  join Customer c on c.CustID = rm.CustID join Movies m on m.MovieID= rm.MovieID
  order by RentDate desc

GO
/****** Object:  StoredProcedure [dbo].[CustBorrowMostMovies]    Script Date: 9/25/2020 3:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CustBorrowMostMovies]
	as
	SELECT 
    rm.CustID,
	name as CustomerName,
    COUNT(*) as MoviesCount
FROM RentedMovies rm join customer cc on cc.custid = rm.custid
GROUP BY
    rm.CustID, name
  
HAVING 
    COUNT(*) >1;

GO
/****** Object:  StoredProcedure [dbo].[InsertCustomerData]    Script Date: 9/25/2020 3:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[InsertCustomerData](@Name varchar(50),@Address varchar(max),@Phone bigint)
  as  insert into customer(Name,Address,Phone) values(@Name,@Address,@Phone)

GO
/****** Object:  StoredProcedure [dbo].[MostPopularMovies]    Script Date: 9/25/2020 3:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[MostPopularMovies]
 as
SELECT 
    rm.MovieID,Title, COUNT(*) Occurrences
FROM RentedMovies rm join movies m on m.movieid = rm.movieid
GROUP BY
    rm.MovieID, title
  
HAVING 
    COUNT(*) >1;

GO
/****** Object:  StoredProcedure [dbo].[RentMovie]    Script Date: 9/25/2020 3:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[RentMovie](@MovieID int,@CustID int,@RentDate varchar(100), @ReturnDate varchar(100),@TotalRent int)
  as
  insert into RentedMovies(MovieID,CustID,RentDate,ReturnDate,RentAmount) values(@MovieID,@CustID,@RentDate,@ReturnDate,@TotalRent)

GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomerData]    Script Date: 9/25/2020 3:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[UpdateCustomerData](@name varchar(50),@address varchar(max),@phone bigint,@custId int)
  as
  update customer set name=@name, address=@address, phone=@phone where custId=@custId

GO
/****** Object:  StoredProcedure [dbo].[UpdateMovieInfo]    Script Date: 9/25/2020 3:07:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[UpdateMovieInfo](@title varchar(500),@year varchar(25),@rating int,
  @genre varchar(50),@rent int,@movieId int)
  as
  update movies set title=@title,year=@year,Rating=@rating,
  genre=@genre,RentCost=@rent where movieId=@movieId

GO
USE [master]
GO
